page-backend {
	.ion-content {
		padding: 10px 20px;
	    background: #f0f0f0;
	    /*margin: 10px 34px;
	    margin-right: 18px;*/
			margin-right: 0px !important;
	    margin-left: 15px !important;
	    border-radius: 15px;
	    color: #666666;

	    h4 {
	    	margin-bottom: 20px;
	    	padding-top: 15px;
	    	color: #000;
	    	font-weight: bolder;
	    }

	    form {
	    	ion-label {
	    		padding-left: 2px;
			}

			ion-input {
				background: #FFFFFF;
			}
	    }

	    .btn {
	    	margin: 17px 40px;
	    }
	}
}
