<ion-content padding>
  <button ion-button menuToggle (click)="presentPopover($event)">
    <ion-icon name="menu"></ion-icon>
  </button>

  <div class="ion-content">
    <div class="status" [ngClass]="(status) ? 'online' : 'offline'"></div>
    <h4>Back-End Admin</h4>
    <form [formGroup]="loginForm">
      <div class="error" *ngIf="error">{{errorMessage.message}}</div>
      <div>
        <ion-label>Login</ion-label>
        <ion-input type="text" name="login" [formControl]="loginForm.controls['login']" autofocus required></ion-input>
      </div>
      <div>
        <ion-label>Password</ion-label>
        <ion-input type="password" name="password" [formControl]="loginForm.controls['password']"></ion-input>
      </div>
      <div class="button-container">
        <button type="submit" class="btn" (click)="loginUser()" [disabled]="!loginForm.valid" block>Login</button>
      </div>
      <div class="loader" *ngIf="isLogging">
        <div class="loader-inner">
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="footer">
    Alle rechten voorbehouden aan <a href="#" class="links">iceonwheels.be</a><br>
    Software door <span>ThinkTank.events</span>
  </div>
</ion-content>
