<ion-content class="popup" padding>
	<div *ngIf="!form">
		<h2>{{message}}</h2>
		<button *ngIf="btnLabelOne" (click)="close()">{{btnLabelOne}}</button>
		<button *ngIf="btnLabelTwo" (click)="close()">{{btnLabelTwo}}</button>
    <button *ngIf="btnLabelOk" (click)="close()">{{btnLabelOk}}</button>
	</div>

	<form [formGroup]="requestStopForm" *ngIf="form">
      <div class="error" *ngIf="error">{{errorMessage.message}}</div>
      <div>
        <ion-label>Name</ion-label>
        <ion-input type="text" name="name" [formControl]="requestStopForm.controls['name']" autofocus required></ion-input>
      </div>
      <div>
        <ion-label>Mobile</ion-label>
        <ion-input type="number" name="mobile" [formControl]="requestStopForm.controls['mobile']"></ion-input>
      </div>
      <div>
        <ion-label>Street No</ion-label>
        <ion-input type="number" name="street" [formControl]="requestStopForm.controls['street']"></ion-input>
      </div>
      <div class="button-container">
        <button type="submit" class="btn" (click)="requestStop()" [disabled]="!requestStopForm.valid" block>Request</button>
      </div>
      <div class="loader" *ngIf="isRequesting">
        <div class="loader-inner">
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
        </div>
      </div>
  </form>
  <div class="request" *ngIf="request">
    <div class="label">Name</div>
    <div class="value">{{items.name}}</div>
    <div class="label">Mobile</div>
    <div class="value">{{items.mobile}}</div>
    <div class="label">Street No</div>
    <div class="value">{{items.street}}</div>
    <p class="query">REJECT STOP DEMAND</p>
    <div class="btn-container">
      <button type="submit" class="btn" (click)="acceptStop('true')" block>Yes</button>
      <button type="submit" class="btn" (click)="rejectStop('false')" block>No</button>
    </div>
  </div>
</ion-content>
