page-popup {
	
	.content-ios {
    background-color: #f0f0f0;
    padding-right: 0px !important;

    form {
    	ion-input {
    		background-color: #FFFFFF;
    	}
    }
	}

	.content-md, .content-ios {
		padding-right: 0px !important;
    font-size: 1.6rem;
    text-align: center;
    background: #f0f0f0;
    padding-right: 0px;

    button {
    	padding: 10px 30px;
	    color: #FFFFFF;
	    font-weight: bold;
	    font-size: 1.6rem;
	    border-radius: 10px;
	    background: #402c00;
    }
	}

  .request {
    text-align: left;
  }

  .value {
    font-weight: bold;
  }

  .query {
    font-weight: bold;
  }

  .btn-container {
    text-align: center;

    button {
      margin-top: 0;
    }
  }

	.popover-content {
    max-height: 38% !important;
  }

  @media (min-height: 568px) and (max-height: 639px) {
    popover-content {
      left: 19px !important;
    }
  }

  @media (min-height: 640px) and (max-height: 666px) {
    .popup {
      max-height: 400px !important;
    }
  }

  @media (min-height: 667px) and (max-height: 730px) {
  }

  @media (min-height: 731px) and (max-height: 735px) {
  }

  @media (min-height: 736px) and (max-height: 811px) {
  }

  @media (min-height: 812px) and (max-height: 824px) {
  }

  @media (max-width: 411px) {
    .popup {
      max-height: 400px !important;
    }
  }

  @media (max-width: 899px) {
  }

  @media (max-width: 803px) {
  }

  @media (max-width: 767px) {
  }
}
