page-contact {
	.scroll-content {
		padding-left: 0 !important;
	}

	form {
		margin: 25px 30px;
		margin-right: 15px;

		ion-label {
			font-weight: bold;
			font-size: 2rem;
			color: #666666;
			margin-bottom: 5px !important;
		}
	}

	.button-md {
		color: #402c00;
		font-size: 3rem;
		box-shadow: none;
		background-color: transparent;

		&:hover {
			background-color: transparent !important;
		}

		.menu-title {
			margin-left: 10px;
			font-size: 1.5rem;
		}
	}
}
