<ion-content padding>
  <div class="status" [ngClass]="(status) ? 'online' : 'offline'"></div>
  <button ion-button menuToggle (click)="presentPopover($event)">
    <ion-icon name="menu"></ion-icon>
  </button>

  <form [formGroup]="contactForm">
    <div class="error" *ngIf="error">{{msg}}</div>
    <div>
      <ion-label>Name</ion-label>
      <ion-input type="text" name="name" [formControl]="contactForm.controls['name']"></ion-input>
    </div>
    <div>
      <ion-label>E-mail</ion-label>
      <ion-input type="text" name="email" [formControl]="contactForm.controls['email']"></ion-input>
    </div>
    <div>
      <ion-label>Mobile</ion-label>
      <ion-input type="text" name="mobile" [formControl]="contactForm.controls['mobile']"></ion-input>
    </div>
    <div>
      <ion-label>Message</ion-label>
      <ion-textarea name="message" [formControl]="contactForm.controls['message']"></ion-textarea>
    </div>
    <div class="button-container">
      <button type="submit" class="btn" [disabled]="!contactForm.valid" (click)="send()" block>Send</button>
    </div>
    <div class="loader" *ngIf="isSending">
      <div class="loader-inner">
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
      </div>
    </div>
  </form>
  <div class="footer">
    Alle rechten voorbehouden aan <a href="#">iceonwheels.be</a><br>
    Software door <span>ThinkTank.events</span>
  </div>
</ion-content>
