page-home {
	.scroll-content {
		padding-left: 0 !important;
	}

	.content-ios {
	  .status {
	    top: 80px !important;
	  }
	}

	ion-content {
		background-image: url(../assets/imgs/bg.png);
		background-repeat: no-repeat;
		background-size: 100%;
  	background-color: transparent;
	}

	.button-md {
		width: 140px;
    margin-left: -30px;
		color: #402c00;
		font-size: 3rem;
		box-shadow: none;
		// background-color: #e2e1c3;

		&:hover {
			background-color: transparent !important;
		}
	}

		@media (min-height: 568px) and (max-height: 639px) {
			.button-container {
				bottom: 20px;
			}

			.content-ios {
				.status {
					top: 47px !important
				}
			}
	  }

	  @media (min-height: 640px) and (max-height: 666px) {
	  	.button-container {
				bottom: 85px;
			}

			.content-ios {
				.status {
					top: 50px !important
				}
			}
	  }

	  @media (min-height: 667px) and (max-height: 730px) {
	  	.button-container {
				bottom: 40px;
			}

			.content-ios {
				.status {
					top: 45px !important
				}
			}
	  }

	  @media (min-height: 731px) and (max-height: 735px) {
	  	.button-container {
				bottom: 100px;
			}
	  }

	  @media (min-height: 736px) and (max-height: 811px) {
	  	.button-container {
				bottom: 60px;
			}

			.content-ios {
				.status {
					top: 47px !important
				}
			}
	  }

	  @media (min-height: 812px) and (max-height: 824px) {
	  	.button-container {
				bottom: 70px;
			}

			.content-ios {
				.status {
					top: 50px !important
				}
			}
	  }

	  @media (max-width: 411px) {
	  }

	  @media (max-width: 899px) {
	  }

	  @media (max-width: 803px) {
	  }

	  @media (max-width: 767px) {
	  }
}
