<ion-content padding>
  <div class="status" [ngClass]="(status) ? 'online' : 'offline'"></div>
  <button ion-button menuToggle (click)="presentPopover($event)">
    <ion-icon name="menu"></ion-icon>
  </button>

</ion-content>
