@font-face {
  font-family: ARLRDBD;
  src: url(../assets/fonts/ARLRDBD.TTF) format("ttf");
  /*font-weight: 200*/
}

.ion-content {
  /*font-family: 'ARLRDBD' !important;*/
}

body {
  font-family: 'ARLRDBD' !important;
}

.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  opacity: .5;

  .loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }

.loader-line-wrap {
    -webkit-animation: 
    spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
  ;
            animation: 
    spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
  ;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    width: 100px;
  }
  .loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .loader-line-wrap:nth-child(1) { -webkit-animation-delay: -50ms; animation-delay: -50ms; }
  .loader-line-wrap:nth-child(2) { -webkit-animation-delay: -100ms; animation-delay: -100ms; }
  .loader-line-wrap:nth-child(3) { -webkit-animation-delay: -150ms; animation-delay: -150ms; }
  .loader-line-wrap:nth-child(4) { -webkit-animation-delay: -200ms; animation-delay: -200ms; }
  .loader-line-wrap:nth-child(5) { -webkit-animation-delay: -250ms; animation-delay: -250ms; }

  .loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
  }
  .loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
  }
  .loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
  }
  .loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
  }
  .loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
  }

  @-webkit-keyframes spin {
      0%, 15% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  @keyframes spin {
      0%, 15% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
}

.button-container {
  text-align: center !important;
}

.status {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  border: 1px solid #422e03;
}

.content-ios {
  .status {
    top: 48px;
  }
}

.online {
  background-color: #00ff00;
}

.offline {
  background-color: #ea495b;
}

.error {
  padding: 1rem;
  color: red;
  border: 2px solid red;
}

.scroll-content {
	padding-left: 0 !important;
}

/*disable-hover bar-buttons bar-buttons-ios button button-ios button-default button-default-ios button-menutoggle button-menutoggle-ios*/

.button-md, .bar-buttons {
  /*font-family: Malgun;*/
  width: 140px;
  margin-left: -10px !important;
	color: #402c00;
	font-size: 3rem;
	box-shadow: none;
	background-color: transparent;

	&:hover {
		background-color: transparent !important;
	}

  &.activated {
    box-shadow: 0 0 0 #FFFFFF;
    background-color: transparent !important;
  }

  .button-inner {
    justify-content: left;
  }

  ion-icon:after {
    content: 'Menu';
    position: absolute;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Sans-serif;
  }
}

.popover-arrow {
  display: none !important;
}

.popover-ios {
  .popover-content {
    margin-top: -45px;
    margin-left: 10px;
    width: 270px;
    max-height: 100%;
  }  
}

.popover-content {
  left: 20.5px;
  border-radius: 10px !important;
  background-color: #f0f0f0 !important;
  box-shadow: 0 0 0 #FFFFFF !important;

  .popover-viewport {
    background-color: #f0f0f0 !important;
  }
}

.links {
  color: #f54868;
}

form {
  ion-label {
    font-weight: bold;
    font-size: 1.8rem;
    color: #666666;
    margin-bottom: 7px;
  }

  ion-input, ion-textarea {
    border: 2px solid #9a9a9a;
  }
}

.btn {
  /*margin: 17px 77px;*/
  margin-top: 30px;
  padding: 10px 70px;
  color: #FFF;
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
  border-radius: 10px;
  background: #f53e5f;
}

.footer {
  /*position: absolute;*/
  /*bottom: 20px;*/
  font-size: 1rem;
  text-align: center;
  padding: 0 40px;
  text-align: center;
  padding: 10px 40px;
  color: #402c00;

  a {
    color: #ea495b;
	  font-weight: bold;
  }

  span {
  	color: #402c00;
  	font-weight: bolder;
  	text-decoration: underline;
  }
}

@media (min-height: 568px) and (max-height: 639px) {
  popover-content {
    left: 19px !important;
  }
}