page-notifications {
	.ion-content {
		padding: 10px 20px;
		padding-bottom: 20px;
    background: #f0f0f0;
    margin-right: 0px;
    margin-left: 15px;
    border-radius: 15px;
    color: #666666;
    /*font-family: 'ARLRDBD' !important;*/
	}

	form {
		ion-label {
			display: inline-block;
	    vertical-align: middle;
	    margin-bottom: 22px !important;
	    margin-left: 10px !important;
		}

		.label-details {
			margin-left: 30px;
		    margin-top: -10px;
		    font-weight: bold;
		    font-size: 1.4rem;
		}

		ion-input {
			background: transparent;
		}

		.btn {
			/*margin: 17px 40px;*/
		}
	}
}
