<ion-content padding>

  <button ion-button menuToggle (click)="presentPopover($event)">
    <ion-icon name="menu"></ion-icon>
  </button>

  <div class="ion-content">
    <div class="status" [ngClass]="(status) ? 'online' : 'offline'"></div>
    <p class="error" *ngIf="error">{{error}}</p>
    <h4>Notifications</h4>
    <form [formGroup]="notificationForm">
      <div>
        <ion-checkbox id="route" [formControl]="notificationForm.controls['route']" name="route"></ion-checkbox>
        <ion-label for="route">Start of route</ion-label>
        <p class="label-details">You will receive a message everyday when the ice cream cart starts its route.</p>
      </div>
      <div>
        <ion-checkbox id="proximity" [formControl]="notificationForm.controls['proximity']" name="proximity"></ion-checkbox>
        <ion-label for="proximity">Proximity Alert</ion-label>
        <p class="label-details">You will receive a message everyday when the cart is within 500m of your location.</p>
      </div>
      <div>
        <ion-checkbox id="arrived" [formControl]="notificationForm.controls['arrival']" name="arrival"></ion-checkbox>
        <ion-label for="arrived">Arrived @ STOP</ion-label>
        <p class="label-details">When you demand a stop you will receive a message when the ice cream cart is wihtin 100m.</p>
      </div>
      <div class="button-container">
        <button type="submit" class="btn" (click)="update()" block>Save</button>
      </div>
      <div class="loader" *ngIf="isNotifying">
        <div class="loader-inner">
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="footer">
    Alle rechten voorbehouden aan <a href="#" class="links">iceonwheels.be</a><br>
    Software door <span>ThinkTank.events</span>
  </div>

</ion-content>
