<ion-content padding>
  <button ion-button menuToggle (click)="presentPopover($event)">
    <ion-icon name="menu"></ion-icon>
  </button>
  <span class="admin">ADMIN</span>
  <div class="status" [ngClass]="(status) ? 'online' : 'offline'"></div>

  <div #map id="map"></div>

  <div class="footer">
    Alle rechten voorbehouden aan <a href="#" class="links">iceonwheels.be</a><br>
    Software door <span>ThinkTank.events</span>
  </div>
</ion-content>
