page-tracker-start {
	.content, .content-ios {
		background-color: #e2e1c3;
	}

	#map {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    margin-left: 27px;
    margin-top: 0;
    border: 3px solid #412d01;
    z-index: 0;
  }

	.admin {
		position: absolute;
    top: 26px;
    right: 60px;
    font-size: 2rem;
    font-weight: bolder;
	}

	.content-ios {
		.admin {
			top: 50px !important;
		}
	}
}
