<ion-content padding>
  <button ion-button menuToggle (click)="presentPopover($event)">
    <ion-icon name="menu"></ion-icon>
  </button>
  <div class="status" [ngClass]="(status) ? 'online' : 'offline'"></div>

	<div class="button-container">
  	<button class="btn-demand-stop" (click)="demandStop()">
    </button>
  </div>

  <div class="response" *ngIf="response">{{response.message}}</div>

  <div #map id="map"></div>

  <div class="footer">
    Alle rechten voorbehouden aan <a href="#" class="links">iceonwheels.be</a><br>
    Software door <span>ThinkTank.events</span>
  </div>
</ion-content>
