.ios, .md {
	page-track {
		.scroll {
	    height: 100%
	  }

	  .response {
	  	padding: 0 25px 10px;
    	color: green;
	  }

	  #map {
	    width: 90%;
	    height: 80%;
	    margin: 0 auto;
	    margin-left: 27px;
	    margin-top: 0;
	    border: 3px solid #412d01;
	    z-index: 0;
	  }

		.button-md {
			width: 140px;
	    margin-left: -30px;
			color: #402c00;
			font-size: 3rem;
			box-shadow: none;
			background-color: transparent;

			&:hover {
				background-color: transparent !important;
			}
		}

		.button-container {
			width: 100%;
			position: absolute;
			bottom: 9%;
			z-index: 1;
		}

		.btn-demand-stop {
	    width: 120px;
	    height: 120px;
	    background-image: url('../assets/imgs/demand.png');
			background-repeat: no-repeat;
			background-color: transparent;
			background-size: contain;

			&:after {
				content: 'DEMAND STOP';
				font-size: 2rem;
				font-weight: bold;
			}
		}

		@media (min-height: 568px) and (max-height: 639px) {
			.button-container {
				bottom: 20px;
			}
	  }

	  @media (min-height: 640px) and (max-height: 666px) {
	  	.button-container {
				bottom: 85px;
			}
	  }

	  @media (min-height: 667px) and (max-height: 730px) {
	  	.button-container {
				bottom: 40px;
			}
	  }

	  @media (min-height: 731px) and (max-height: 735px) {
	  	.button-container {
				bottom: 100px;
			}
	  }

	  @media (min-height: 736px) and (max-height: 811px) {
	  	.button-container {
				bottom: 60px;
			}
	  }

	  @media (min-height: 812px) and (max-height: 824px) {
	  	.button-container {
				bottom: 70px;
			}
	  }

	  @media (max-width: 411px) {
	  }

	  @media (max-width: 899px) {
	  }

	  @media (max-width: 803px) {
	  }

	  @media (max-width: 767px) {
	  }
	}
}