page-admin-home {
	ion-content {
		background-image: url(../../assets/imgs/admin.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-color: #e2e1c3;

		.admin {
			position: absolute;
	    top: 26px;
	    right: 60px;
	    font-size: 2rem;
	    font-weight: bolder;
		}

		&.content-ios {
			.admin {
				display: block;
				top: 50px !important;
			}
		}
	}
}
