page-software {
	.ion-content {
		padding: 10px 20px;
    background: #f0f0f0;
    /*margin: 10px 34px;*/
    /*margin-right: 18px;*/
    margin-right: 0px !important;
    margin-left: 15px !important;
    border-radius: 15px;
    color: #666666;
    font-weight: bolder;
    font-size: 1.5rem;

    h4 {
    	padding-top: 15px;
    	color: #000;
    	font-weight: bolder;
    }

    .btn {
    	margin: 80px 40px 17px;
    }
	}
}
