<ion-content padding>

  <button ion-button menuToggle (click)="presentPopover($event)">
    <ion-icon name="menu"></ion-icon>
  </button>

  <div class="ion-content">
    <div class="status" [ngClass]="(status) ? 'online' : 'offline'"></div>
    <h4>Software</h4>
    <p>By using our software you agree to the <a href="#">general terms and conditions</a></p>
    <p>All rights reserved to <a href="#" class="links">iceonwheels.be</a></p>
    <p>Software version 0.1</p>
    <p>Developed by <a href="#" class="links">AMDigitalS on Fiverr(Is this ok?)</a> for iceonwheels.be</p>
    <div class="button-container">
      <button type="submit" class="btn" block>Close</button>
    </div>
  </div>

  <div class="footer">
    Alle rechten voorbehouden aan <a href="#" class="links">iceonwheels.be</a><br>
    Software door <span>ThinkTank.events</span>
  </div>

</ion-content>
