<ion-content padding>
  <button ion-button menuToggle (click)="presentPopover($event)">
    <ion-icon name="menu"></ion-icon>
  </button>
  
  <span class="admin">ADMIN</span>
  <div class="status" [ngClass]="(status) ? 'online' : 'offline'"></div>

  <div class="ion-content">
  	<h4 class="title">Choose Route</h4>
  	<ion-list>
      	<ion-item *ngFor="let track of tracks">
          <a href="#" (click)="startTrack(track._id)">
            <div class="row items item-title">{{track.title}}</div>
        		<div class="row">
        			<span class="items item-info">Distance: {{track.distance}}km</span>
        		</div>
        		<div class="row">
        			<span class="items item-date">Made on: {{track.date}}</span>
        			<a href="#" class="items icon-delete" (click)="delete(track._id)">
        				<img src="assets/imgs/delete.png">
        			</a>
        		</div>
          </a>
      	</ion-item>
  	</ion-list>
  </div>

  <div class="footer">
    Alle rechten voorbehouden aan <a href="#" class="links">iceonwheels.be</a><br>
    Software door <span>ThinkTank.events</span>
  </div>
</ion-content>
