page-create-route {
	.content, .content-ios {
		background-color: #e2e1c3;
	}

	.admin {
		position: absolute;
    top: 26px;
    right: 60px;
    font-size: 2rem;
    font-weight: bolder;
	}
		
	.ion-content {
		padding: 10px 20px;
	  background: #f0f0f0;
	  margin: 10px 34px;
	  margin-right: 18px;
	  border-radius: 15px;
	  color: #666666;

	  .title {
	  	margin-top: 10px;
	  	color: #402c00;
	  	font-weight: bold;
	  }

	  ion-item {
	  	margin: 0 -12px;
	  	background: #f0f0f0;

	  	.item-inner {
	  		border-bottom: 2px solid #999999 !important;
	  	}

	  	.row {
	  		position: relative;
	  		margin-bottom: 10px;

	  		.items {
	  			display: inline-block;

	  			&.item-title, &.item-info {
	  				font-weight: bold;
    				font-size: 1.8rem;
    				text-align: left !important;
	  			}

	  			&.item-title, &.item-date {
	  				display: inline-block;
	  			}

	  			&.item-date {
	  				font-size: 1.6rem;
    				font-weight: bold;
	  			}

	  			&.item-info, &.icon-delete {
	  				text-align: right;
    				width: 73%;
	  			}

	  			&.icon-delete {
	  				width: 6%;
    				text-align: right;
    				right: 0;
    				position: absolute;
	  			}
	  		}
	  	}
	  }
	}

	.content-ios {
		.admin {
			top: 50px !important;
		}
	}
}
