page-menu {
	left: -10px;
  top: 0px;
  position: relative;

  .button-md, .bar-buttons {
  	margin-top: -35px;
    margin-left: -32px !important;
    color: #FFF;
  }

  ion-list {
  	margin-bottom: -10px !important;
  	.lasts {
  		margin-top: 40px;
  	}
  }

  .list-ios {
    margin-top: -25px;
  }

  .content-md, .content-ios {
  	padding-right: 0 !important;
  	background-color: #f0f0f0 !important;

  	.scroll-content {
  	  margin-top: -6px;

      .list-ios {
        .item-ios:first-child {
          border-top: 0px solid #CCC !important;
        }
      }

			.list-md, .list-ios {
				.item-md, .item-ios {
					font-weight: bold;
					background-color: #f0f0f0 !important;

					.item-inner {
						border-bottom: 1px solid #402c00;
					}

					&.noborder {
			  		.item-inner {
							border-bottom: 0px solid #CCC !important;
			  		}
			  	}
				}

        .item-ios {
          &.noborder {
            /*&.item-ios {*/
              border-top: 0px solid #CCC !important;
              border-bottom: 0px solid #CCC !important;
            /*}*/
          }
        }
			}	
  	}
  }


}
