<ion-content padding>
	<button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
	<ion-list>
    <button ion-item detail-none class="noborder" (click)="close('create')" *ngIf="isAdmin">
      <span *ngIf="isCreating">STOP CREATING</span>
      <span *ngIf="!isCreating">CREATE ROUTE</span>
    </button>
    <button ion-item detail-none class="noborder" (click)="close('tracker')" *ngIf="isAdmin">TRACKER START</button>
    <button ion-item detail-none (click)="close('track')" *ngIf="!isAdmin">START TRACKING</button>
    <!-- <button ion-item detail-none (click)="close('notifications')" *ngIf="!isAdmin">NOTIFICATIONS</button> -->
    <button ion-item detail-none (click)="close('contact')" *ngIf="!isAdmin">CONTACT</button>
    <button ion-item detail-none class="noborder" (click)="close('website')" *ngIf="!isAdmin">WEBSITE</button>
    <button ion-item detail-none class="lasts" (click)="close('software')" *ngIf="!isAdmin">SOFTWARE</button>
    <button ion-item detail-none class="noborder" (click)="close('backend')" *ngIf="!isAdmin">BACK-END</button>
  </ion-list>
</ion-content>
